*{
  margin:0px;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #ffffcc;
}

#header{
  background-color: black;
  color: #ffffff;
}

a{
  text-decoration: none;
  color: #ffffff;
  font-size: 30px;
}

button{
  border-radius: 10px;
  background-color: #561c5c;
  color: #ffffff;
}

#menu{
  background-color: rgba(0, 0, 0, 0.2);
  margin: 10px;

  border-radius: 10px;
  max-width: 500px;

}

#footer{
  background-color: #000000;
  color: #ffffff;
  font-size: 13px;
  height: 50px;
}
